- if logged_in?
  .row
    .six.columns
      %h2 Your giftee is:
    .six.columns
      %a.secret-box.js-secret-box{:href => '#'}
        .secret-box--contents= current_participant.giftee.name
        %span.secret-box--reveal Click to reveal match for 3s

- else
  .row
    .ten.columns.offset-by-one
      %h2 Signups are closed!
      %p
        Sorry, all of the spaces have been filled for this exchange and matches have been made.
        You need to be quicker off the mark next time!

%hr

= render 'time_to_exchange', exchange: @exchange
