.header {
  width: 100%;
  height: 200px;

  background: image-url("header.svg");
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 200px;

  margin-bottom: 30px;
}
